:root{
    --clr-primary: #FBFCE4;
    --clr-secondary: #E3BB4F;
    --clr-third: #AF8A1C;
    --clr-blc: #000;
    
    --fs-big: 2.5em;
    --fs-sml: 0.7em;
    --fs-nav: 1.4em;
}

form {
    width: 50em;
}

.navbar {
    display: none;
}

.Cart {
    opacity: 0;
    visibility: hidden;
}

.get_back {
    top: 10em;
}

.content {
    position: relative;
    top: 16em;
    left: 45em;

    width: 50em;
}

.content > span:nth-child(2),
.content > span:nth-child(3) {
    position: absolute;
    top: 2.5em;
    left: -10em;

    font-size: 1.4em;
}

.content > span:nth-child(3) {
    top: 5.3em;
    left: -8.5em;
}

.eye,
.guide {
    position: relative;
    top: -3.5em;

    width: 1.5em;

    cursor: pointer;
}

.show_password {
    position: absolute;
    top: 3.3em;
    left: 31em;

    width: 1.5em;
    height: 1px;

    background-color: #fff;
    box-shadow: 0 1px 0 1px var(--clr-blc);
    transform: rotate(25deg);
}

.guide {
    top: -2.9em;
    left: 31em;

    width: 10em;
}

.title {
    position: relative;
    top: -2em;
    left: -10em;
    font-size: var(--fs-big);
}

.login_text {
    padding-left: 1.5em;

    width: 35em;
    height: 3em;

    border: 1px solid var(--clr-third);
    border-radius: 20px;
}


.login_button {
    position: relative;
    left: 4em;
    padding: 1em 4em;

    color: var(--clr-primary);
    font-size: var(--fs-nav);
    font-weight: 400;

    background: var(--clr-third);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    
}

.login_button:hover{
    padding: 1em 7em;
    transform: translateX(-3em);
}