/* ===================
    appearence 
=================== */

:root{
    --clr-primary: #FBFCE4;
    --clr-secondary: #E3BB4F;
    --clr-third: #AF8A1C;
    --clr-blc: #000;
    
    --fs-big: 2.5em;
    --fs-sml: 0.7em;
    --fs-nav: 1.4em;

}

.alert {
    padding: 1em;   
    border-bottom: 2px solid var(--clr-third);
}

.btn-close {
    position: relative;
    top: -0.5em;
    padding: 1em;

    float: right;

    background: transparent;
    border: 0;
    cursor: pointer;
}

.btn-close::before {
    content: '';
    position: absolute;
    left: 0em;

    width: 2em;
    height: 2px;

    background: var(--clr-blc);
    border-radius: 5px;
    transform: rotate(-45deg);
}

.btn-close::after {
    content: '';
    position: absolute;
    left: 0em;

    width: 2em;
    height: 2px;
    
    background: var(--clr-blc);
    border-radius: 5px;
    transform: rotate(45deg);
}

.alert.active {
    padding: 0;
    margin-top: -1em;
    
    opacity: 0;
    visibility: hidden;
}
