:root{
    --clr-primary: #FBFCE4;
    --clr-secondary: #E3BB4F;
    --clr-third: #AF8A1C;
    --clr-blc: #000;
    --clr-promotion: #ff4e00;
    --clr-not-flavorite: rgb(80, 0, 0);
    --clr-flavorite: red;
    
    --fs-big: 2.5em;
    --fs-sml: 0.7em;
    --fs-nav: 1.4em;
}

.container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    grid-auto-rows: 27em;

    margin: 2em;
    
}

.title {
    position: relative;
    top: 1em;
    left: 2em;

    width: 10em;
    margin-bottom: 2em;

    color: var(--clr-third);
    font-size: var(--fs-big);
}

.title span {
    color: var(--clr-blc);
    font-size: var(--fs-sml);
}

.title::after {
    content: '';
    position: absolute;
    top: 1.2em;
    left: 0.5em;

    width: 5em;
    height: 2px;

    background-color: var(--clr-third);
}

.card {
    position: relative;

    display: grid;
    grid-template-rows: min-content;
    
    gap: 1em;
    padding: 2em 2em 0.5em;
    height: 24em;

    
    border: 2px solid var(--clr-third);
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 10px 0 var(--clr-third);
}

.card span:nth-child(3) {
    margin-left: 7em;
    
    color: var(--clr-promotion);
    font-size: var(--fs-nav);
}

.flavorite {
    position: relative;
    top: -31.5em;
    left: 22.5em;
    
    display: inline-block;

    width: 1em;
    height: 1em;
    
    background-color: var(--clr-not-flavorite);
    border: 0;
    transform: rotate(225deg);
    cursor: pointer;
}

.flavorite.like{
    left: 21.2em;
    
    background-color: var(--clr-flavorite);
}

.flavorite_lable {
    position: absolute;
    top: 0em;  
    left: 21em;
    pointer-events: none;
}

.flavorite_lable::before,
.flavorite_lable::after  {
    content: '';
    position: absolute;
    top: -1em;
    left: -0.7em;
    
    width: 1em;
    height: 1em;
    
    background-color: var(--clr-not-flavorite);
    border-radius: 100%;
    pointer-events: none;
}

.flavorite_lable::after {
    top: -1em;
    left: 0em;
}

.flavorite_lable.like::before,
.flavorite_lable.like::after  {
    background-color: var(--clr-flavorite);
}


.card > span:last-child {
    position: absolute;
    top: 0.3em;
    
    color: var(--clr-primary);
    font-size: var(--fs-big);
    
    z-index: 10;
}



.card > img {
    inline-size: 100%;
    
    aspect-ratio: 4 / 3;
    
    object-fit: contain;

}

.promote::before,
.promote::after {
    content: '';
    position: absolute;
    top: 1em;
    left: -1em;

    height: 2.5em;
    width: 20.6em;
    
    background-color: var(--clr-promotion);
    border-radius: 25px 25px 25px 0;
}

.promote::before {
    top: 2.5em;
    left: -1em;
    
    width: 2em;
    
    border-radius: 50px;
    background-color: #752603;
    
    z-index: -100;
}

.promote::after {
    box-shadow: 2px 4px 5px -1px var(--clr-blc);
}

.stockOut > span:last-child {
    top: 1.5em;
    left: 0.8em;

    padding: 0 0.6em;

    background-color: rgb(0,0,0,0.7);
}

.stockOut > img {
    filter: grayscale(90%);
    opacity: 0.7;
}

.Picker {
    padding: 0.5em 3em;

    font-size: 1.5em;
    font-weight: bold;
    color: var(--clr-primary);
    text-decoration: none;

    border: 0;
    background-color: var(--clr-secondary);
    border-radius: 10px;
    cursor: pointer;
}

.Picker:hover {
    padding: 0.5em 2.5em 0.5em 2.2em;

    letter-spacing: 0.1em;

    transform: translateY(-0.3em);

    box-shadow: 1px 1px 0 1px var(--clr-blc);
}
