:root{
    --clr-primary: #FBFCE4;
    --clr-secondary: #E3BB4F;
    --clr-third: #AF8A1C;
    --clr-blc: #000;
    
    --fs-big: 2.5em;
    --fs-sml: 0.7em;
    --fs-nav: 1.4em;
}

.Cart {
    opacity: 0;
    visibility: hidden;
}

.cart_list {
    position: relative;
    top: 4em;
    left: 30em;

    width: 60em;

    color: var(--clr-third);
}

.table-name {
    font-size: var(--fs-big);
}

.amount-item {
    padding-left: 1em;

    font-size: calc(var(--fs-big) - 1.75em);
    color: var(--clr-blc);
}

.delete_all_btn {
    position: absolute;
    opacity: 0;
}

.delete_all{
    position: absolute;
    top: 0.2em;
    left: 22em;

    width: 1em;

    cursor: pointer;
}

.delete_all:hover{
    width: 1.2em;
    transform: translatex(4px)
                translateY(-8px);
}

.table-head {
    position: relative;
    top: 0;
    padding: 1em 2em;

    display: grid;
    gap: 1em;
    grid-template-columns: 19em repeat(3, 4.5em);
    
    font-size:  calc(var(--fs-big) - 1em) ;

    background: var(--clr-primary);
    z-index: 2;
}

.table-head::before,
.table-head::after {
    content: '';
    position: absolute;

    height: 0.2em;
    width: calc(100% - 1.25em) ;

    background: var(--clr-third);
    opacity: 0.6;
    z-index: 3;
}

.table-head::before {
    top: 3.25em;
}

.list_item {
    overflow-y: auto;
    height: 22em;
    width: 98.5%;
}

.product-record {
    display: grid;
    gap: 1em;
    grid-template-columns: 7em 24em repeat(3, 7em);

    height: 7em;
    width: 57.5em;
}


.product-record > * {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--clr-blc);
}

.product-picture {
    position: relative;

    padding: 0.4em;

    width: 10em;
    height: 6em;
}

.product-picture > img {
    inline-size: 100%;
    
    aspect-ratio: 16 / 9;
    
    object-fit: cover;

    border-radius: 1em;
}

.product-picture.row::after {
    content: '';
    position: absolute;
    top: -0.1em; 
    left: 0;

    width: 57.5em;
    height: 6.9em;

    background-color: var(--clr-secondary);
    z-index: -1;
    opacity: 0.4;
}

.product-choose > * {
    position: relative;

    text-decoration: none;
} 

.btn_choose {
    margin-left: 0.5em;

    width: 7em;
    height: 7em;

    background-color: transparent;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn_choose:hover {
    color: var(--clr-primary);

    background-color: var(--clr-secondary);
}