<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,900&display=swap" rel="stylesheet"> 
    
    {% include "Client/Css.html" %}
    
    <title>KHAWSANNAHMOR </title>
    
</head>
<body>
    {% include "Client/navbar.html" %}
    
    <main>
        {% block content %}
        {% endblock%}  
    </main>
    
    {% include "Client/Footer.html" %}

    {% include "Client/Script.html" %}
    </body>
</html>