{% extends "Layout.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert" id="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" onclick="clickNClose();"></button>
  </div>  

{% endfor %}

<link rel="stylesheet" href="{{url_for('static', filename='CSS/for_ForgotPassword.css')}}">
<div class="get_back"><a href="{{url_for('login')}}" class="Link"><- Go back</a></div>
<div class="content">
    <div class="title">
        Retrieve Account {{getUser.status}}
    </div>
    <span>
        Create new password: 
    </span>
    <span>
        Confirm password:
    </span>
    <form  method="POST" action="{{url_for('Forgot', command='reset_'+ getUser)}}">
        {{reset.hidden_tag()}}
        <div class="form">
            {{reset.password(class="login_text", id="set_password")}} <br>
            <br>
            {{reset.conpassword(class="login_text", id="new_password")}}
            <img class="eye" src="{{url_for('static', filename='reference/eye_icon.svg')}}" alt="eye">
            <p class="show_password"></p>
            <p class="guide">Please fill data.</p>
        </div>         
        {{ reset.submit(class="login_button", value="Submit")}}
    </form>

<script src="{{url_for('static', filename='Javascripts/forgotPassword.js')}}"></script>
{% endblock%}